%h1 NEWS

= form_tag '/news_update' do
  = field_set_tag do 
    %p
      = label_tag :message, 'Message:'
      = text_area_tag :message

    %p
      = label_tag :everyone, 'Everyone?'
      = check_box_tag :everyone, 'true' 
    %p= submit_tag 'Send'

